@use '../../assets/scss/_variables';

.description {

  &_content {
    display: flex;
    gap: 80px;
    
    @media (max-width: 991px) {
      flex-direction: column;
    }

    img {
      max-height: 250px;
      width: auto;

      @media (max-width: 991px) {
        margin: 0 auto;
        display: block;
      }
    }
  }
  &_text {
    color: variables.$textColorDark;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 144%;
      letter-spacing: 0.02em;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        font-size: 16px
      }
    }
  }
  &_img {
    @media (max-width: 767px) {
      display: none;
    }
  }
}