@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueCyr-Heavy.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueCyr-Light.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueCyr-LightItalic.woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueCyr-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('PlayfairDisplay-Italic.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplayI';
    src: url('PlayfairDisplay-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}