@import "../fonts/stylesheet.css";

$textColor: #fff;
$textColorAcсent: #D1B06B;
$textColorDark: #161D27;

$mainBG: #161D27;

$mainFont: "Helvetica", sans-serif;
$secondFont: "Cormorant Garamond", serif;