@use '../assets/scss/_variables';

.contactUs {
  background: rgba(31, 39, 50, 0.85);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
  overflow-x: hidden;

  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 0;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &_container {
    display: flex;
    gap: 25px;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &_item {
    padding-left: 90px;
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    letter-spacing: 0.02em;
    color: variables.$contentColor;
    position: relative;
    
    @media (max-width: 991px) {
      font-size: 18px;
      padding-left: 50px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &_messengers {
      display: flex;
      gap: 5px;
      span {
        display: flex;
      }
      a {
        text-decoration: underline;
      }
    }

    &.schedule {
      background: url("../assets/img/icons/schedule.png") no-repeat left;
      background-size: 50px;
      @media (max-width: 991px) {
        background-size: 30px;
      }
    }

    &.tel {
      background: url("../assets/img/icons/tel.png") no-repeat left;
      background-size: 50px;
      @media (max-width: 991px) {
        background-size: 30px;
      }

      a {

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.mail {
      background: url("../assets/img/icons/mail.png") no-repeat left;
      background-size: 50px;
      @media (max-width: 991px) {
        background-size: 30px;
      }

      & .mail_copy {
        position: relative;
        cursor: pointer;

        .copyed {
          bottom: -27px;
          left: 0;
          position: absolute;
          background: #fff;
          color: #000;
          font-size: 14px;
          padding: 0 10px;
          border-radius: 20px;
          display: inline-block;
          z-index: -5;
          opacity: 0;
          transition: 0.2s ease;

          &.active {
            z-index: 5;
            opacity: 1;
          }
        }

      }
    }

    &.adress {
      background: url("../assets/img/icons/adress.png") no-repeat left;
      background-size: 50px;
      @media (max-width: 991px) {
        background-size: 30px;
      }

      a {
        font-weight: 700;
        color: variables.$textColorAcсent;
      }
    }

    a {
      display: block;
    }

  }

  &_form {

    @media (max-width: 767px) {
      margin-top: 80px;
    }

    .error_message {
      color: #ff2424;
    }

    .success_message {
      color: #05b400;
    }

    .contact_us {
      background: variables.$textColor;
      display: flex;
      flex-direction: column;
      padding: 40px 80px;
      gap: 20px;
      border-radius: 2px;

      .form_title_mob {
        display: none;
        color: variables.$textColorDark;

        @media (max-width: 767px) {
          display: block;
        }
      }

      @media (max-width: 991px) {
        padding: 40px 40px;
      }

      @media (max-width: 767px) {
        border-radius: 0;
        padding: 45px 15px 80px;
      }

    }

    label {
      color: variables.$textColorDark;

      &.personal_data {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          width: 15px;
          height: 15px;
        }

        span {
          font-size: 14px;
        }
      }
    }

    input, textarea {
      width: 100%;
      padding: 5px 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: variables.$textColorDark;
      border: 1px solid variables.$textColorDark;
      outline: none;
      resize: none;
      box-sizing: border-box;

      &.error {
        border: 1px solid #ff2424;
      }

      &:hover, &:active, &:focus, &:focus-visible {
        border-color: variables.$textColorAcсent;
      }
    }

    button {
      background: variables.$textColorDark;
      color: variables.$textColor;
      border: none;
      padding: 15px;
      cursor: pointer;
      transition: 0.2s ease;
      position: relative;
      border-radius: 2px;

      &:hover {
        background: variables.$textColorAcсent;
        color: variables.$textColorDark;
      }

      &[disabled] {
        cursor: auto;
        &:hover {
          background: variables.$textColorDark;
          color: variables.$textColor;
        }
      }

      .loader {
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
        right: -50px;
        background: url("../assets/img/icons/loader.gif") no-repeat center;
        background-size: contain;
        opacity: 0.8;
        display: none;
      }

    }
  }

}