@use '../assets/scss/_variables';

.services {

  @media (max-width: 767px) {
    padding: 80px 0;
    background: #1f2732;
  }

  h2 {
    text-align: center;
  }

  .border_top {
    border-top: 1px solid #4e555f;
    padding-top: 70px;

    @media (max-width: 767px) {
      border-top: none;
      padding-top: 0;
    }

  }

  &_container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 23px;
    }
  }

  &_item {
    background: #1f2732;
    padding: 25px 50px;
    transition: 0.2s ease;
    border-radius: 2px;

    @media (max-width: 767px) {
      padding: 0;
    }

    &:hover {
      background: #2e3947;
    }

    @media (max-width: 767px) {
      &:last-of-type {
        .services_title {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }

  }

  &_title {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 23px;
    border-bottom: 1px solid #4e555f;

    @media (max-width: 767px) {
      gap: 25px;
    }

    img {
      max-width: 40px;
    }
    p {
      font-size: 26px;
      font-family: variables.$secondFont;

      @media (max-width: 767px) {
        font-size: 22px;
      }
    }
  }
  &_content {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: variables.$contentColor;

    @media (max-width: 767px) {
      display: none;
    }
  }


}