@use '../assets/scss/_variables';

.services {
  padding-bottom: 84px;

  h2 {
    text-align: center;
  }

  .border_top {
    border-top: 1px solid #4e555f;
    padding-top: 70px;
  }

  &_container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  &_item {
    background: #1f2732;
    padding: 25px 50px;
    transition: 0.2s ease;

    &:hover {
      background: #2e3947;
    }
  }

  &_title {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #4e555f;

    img {
      max-width: 40px;
    }
  }
  &_content {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.03em;
    color: variables.$contentColor;
  }

}